streamlit==1.37.1
tensorflow-cpu==2.16.1; python_version < "3.13"
numpy==1.26.4
pandas==2.2.2
nltk==3.9.1
plotly==5.24.1
scikit-learn==1.5.1
openpyxl==3.1.5
pyarrow==17.0.0
tensorflow
pickle5==0.0.3
nltk
